.base-button{
    background-color: #f2b616;
    border: 1px #d8a10c solid;
    color:#fff;
    box-shadow: 2px 2px 100px 15px rgba(239, 191, 57, 0.5);
    width: 100%;
}
.base-button:hover{
    background-color: #d8a10c;
   
}