.dashboard{
    height: 100vh;
    width: 100%;
    &-header{
        height: 10%;
        background-color: red;
    }
    &-container{
        height: 90%;
        width: 100%;
        
        display: flex;
       
    
    }
    &-content{
        height: 100%;
        width: 100%;
        section{
            height: 90%;
            width: 100%;
            background-color: #fff;
        }
       
    }
    &-sidenav{
        height: 100%;
        width: 15%;
        min-width: 300px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        box-shadow: 8px 0px 18px -6px rgba(0, 0, 0, 0.21); 
        z-index: 10;

    }
    &-footer{
        height: 10%;
        width: 100%;
        background-color: blue;
    }
    
    &-sidenav__btn{
        background-color: yellow;
     
    }

}