.login {
    height: 100vh;
    display: flex;
    width: 100%;

 

    &__wrapper {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

     
    }

    &__image {
        background-image: url('../../public/images/login-placeholder.png');
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    &__form {
        text-align: center;
        width: 50%;
        max-width: 350px;
        margin-bottom: 15px;

        .app-form {
            margin-bottom: 15px;
        }
    }

    &__btn{
        width: 12.5rem;
        height: 3.125rem;
    }
}